<div style="display: flex; width: 18em;">
    <div style="width: 13em;">
        <label for="tip">Tip (%)</label>
    </div>
    <select [(ngModel)]="calculator.tipPercent" name="tip" id="tip">
        <option value=0>0</option>
        <option value=10>10</option>
        <option value=15>15</option>
        <option value=20>20</option>
        <option value=-1>custom</option>
    </select>
</div>
<app-number-input
    *ngIf="calculator.tipIsCustom"
    [data]="calculator.tipCustomAmount"
    (dataOut)="calculator.tipCustomAmount = $event"
    title="Custom Tip Amount ($)"
    inputId="tip_custom"
></app-number-input>